<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>[目录]</key>
		<string>description</string>
		<key>本站系统</key>
		<string>boardName</string>
	</dict>
	<dict>
		<key>[目录]</key>
		<string>description</string>
		<key>东南大学</key>
		<string>boardName</string>
	</dict>
	<dict>
		<key>[目录]</key>
		<string>description</string>
		<key>电脑技术</key>
		<string>boardName</string>
	</dict>
	<dict>
		<key>[目录]</key>
		<string>description</string>
		<key>学术科学</key>
		<string>boardName</string>
	</dict>
	<dict>
		<key>[目录]</key>
		<string>description</string>
		<key>艺术文化</key>
		<string>boardName</string>
	</dict>
	<dict>
		<key>[目录]</key>
		<string>description</string>
		<key>乡情校谊</key>
		<string>boardName</string>
	</dict>
	<dict>
		<key>[目录]</key>
		<string>description</string>
		<key>休闲娱乐</key>
		<string>boardName</string>
	</dict>
	<dict>
		<key>[目录]</key>
		<string>description</string>
		<key>知性感性</key>
		<string>boardName</string>
	</dict>
	<dict>
		<key>[目录]</key>
		<string>description</string>
		<key>人文信息</key>
		<string>boardName</string>
	</dict>
	<dict>
		<key>[目录]</key>
		<string>description</string>
		<key>体坛风暴</key>
		<string>boardName</string>
	</dict>
	<dict>
		<key>[目录]</key>
		<string>description</string>
		<key>校务信箱</key>
		<string>boardName</string>
	</dict>
	<dict>
		<key>[目录]</key>
		<string>description</string>
		<key>社团群体</key>
		<string>boardName</string>
	</dict>
</array>
</plist>
