<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>description</key>
			<string>站务公告</string>
			<key>sectionName</key>
			<string>Announce</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Blog天地</string>
			<key>sectionName</key>
			<string>Blog</string>
		</dict>
		<dict>
			<key>description</key>
			<string>斑竹天地</string>
			<key>sectionName</key>
			<string>BMHOME</string>
		</dict>
		<dict>
			<key>description</key>
			<string>网友聚会</string>
			<key>sectionName</key>
			<string>Celebrate</string>
		</dict>
		<dict>
			<key>description</key>
			<string>全国转信区</string>
			<key>sectionName</key>
			<string>CNNews</string>
		</dict>
		<dict>
			<key>description</key>
			<string>处罚公告</string>
			<key>sectionName</key>
			<string>Penalty</string>
		</dict>
		<dict>
			<key>description</key>
			<string>历史发展</string>
			<key>sectionName</key>
			<string>Progress</string>
		</dict>
		<dict>
			<key>description</key>
			<string>管理人员招募</string>
			<key>sectionName</key>
			<string>Recruit</string>
		</dict>
		<dict>
			<key>description</key>
			<string>网友服务</string>
			<key>sectionName</key>
			<string>Service</string>
		</dict>
		<dict>
			<key>description</key>
			<string>站长的工作室</string>
			<key>sectionName</key>
			<string>sysop</string>
		</dict>
		<dict>
			<key>description</key>
			<string>系统发文</string>
			<key>sectionName</key>
			<string>System</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>description</key>
			<string>建筑学院</string>
			<key>sectionName</key>
			<string>architecture</string>
		</dict>
		<dict>
			<key>description</key>
			<string>艺术学院</string>
			<key>sectionName</key>
			<string>ArtsSchools</string>
		</dict>
		<dict>
			<key>description</key>
			<string>自动化学院</string>
			<key>sectionName</key>
			<string>Automation</string>
		</dict>
		<dict>
			<key>description</key>
			<string>生物科学与医学工程学院</string>
			<key>sectionName</key>
			<string>BioMedEngineering</string>
		</dict>
		<dict>
			<key>description</key>
			<string>化学化工学院</string>
			<key>sectionName</key>
			<string>ChemicalEngineer</string>
		</dict>
		<dict>
			<key>description</key>
			<string>土木工程学院</string>
			<key>sectionName</key>
			<string>CivilEngineering</string>
		</dict>
		<dict>
			<key>description</key>
			<string>计算机科学与工程学院</string>
			<key>sectionName</key>
			<string>Computer</string>
		</dict>
		<dict>
			<key>description</key>
			<string>继续教育学院</string>
			<key>sectionName</key>
			<string>ContinuingEDU</string>
		</dict>
		<dict>
			<key>description</key>
			<string>软件学院</string>
			<key>sectionName</key>
			<string>CoSE</string>
		</dict>
		<dict>
			<key>description</key>
			<string>1区区长工作室</string>
			<key>sectionName</key>
			<string>District1</string>
		</dict>
		<dict>
			<key>description</key>
			<string>丁家桥校区</string>
			<key>sectionName</key>
			<string>DJQCampus</string>
		</dict>
		<dict>
			<key>description</key>
			<string>经济管理学院</string>
			<key>sectionName</key>
			<string>Economics</string>
		</dict>
		<dict>
			<key>description</key>
			<string>电气工程学院</string>
			<key>sectionName</key>
			<string>Electrics</string>
		</dict>
		<dict>
			<key>description</key>
			<string>电子科学与工程学院</string>
			<key>sectionName</key>
			<string>Electronics</string>
		</dict>
		<dict>
			<key>description</key>
			<string>外国语学院</string>
			<key>sectionName</key>
			<string>ForeignLanguages</string>
		</dict>
		<dict>
			<key>description</key>
			<string>新生绿色通道</string>
			<key>sectionName</key>
			<string>Freshman</string>
		</dict>
		<dict>
			<key>description</key>
			<string>人文学院</string>
			<key>sectionName</key>
			<string>Humanity</string>
		</dict>
		<dict>
			<key>description</key>
			<string>仪器科学与工程学院</string>
			<key>sectionName</key>
			<string>Instrumentation</string>
		</dict>
		<dict>
			<key>description</key>
			<string>九龙湖校区</string>
			<key>sectionName</key>
			<string>JLHCampus</string>
		</dict>
		<dict>
			<key>description</key>
			<string>法学院</string>
			<key>sectionName</key>
			<string>LawSchool</string>
		</dict>
		<dict>
			<key>description</key>
			<string>材料科学与工程学院</string>
			<key>sectionName</key>
			<string>Materials</string>
		</dict>
		<dict>
			<key>description</key>
			<string>数学系</string>
			<key>sectionName</key>
			<string>Mathematics</string>
		</dict>
		<dict>
			<key>description</key>
			<string>机械工程学院</string>
			<key>sectionName</key>
			<string>Mechanics</string>
		</dict>
		<dict>
			<key>description</key>
			<string>医学院</string>
			<key>sectionName</key>
			<string>MedicalSchool</string>
		</dict>
		<dict>
			<key>description</key>
			<string>物理系</string>
			<key>sectionName</key>
			<string>Physics</string>
		</dict>
		<dict>
			<key>description</key>
			<string>能源与环境学院</string>
			<key>sectionName</key>
			<string>PowerEngineering</string>
		</dict>
		<dict>
			<key>description</key>
			<string>公共卫生学院</string>
			<key>sectionName</key>
			<string>PublicHealth</string>
		</dict>
		<dict>
			<key>description</key>
			<string>浦口校区</string>
			<key>sectionName</key>
			<string>PukouCampus</string>
		</dict>
		<dict>
			<key>description</key>
			<string>信息科学与工程学院</string>
			<key>sectionName</key>
			<string>Radio</string>
		</dict>
		<dict>
			<key>description</key>
			<string>学习科学研究中心</string>
			<key>sectionName</key>
			<string>RCLS</string>
		</dict>
		<dict>
			<key>description</key>
			<string>世纪东南</string>
			<key>sectionName</key>
			<string>SEU110</string>
		</dict>
		<dict>
			<key>description</key>
			<string>校园特快</string>
			<key>sectionName</key>
			<string>SEUExpress</string>
		</dict>
		<dict>
			<key>description</key>
			<string>苏州研究院</string>
			<key>sectionName</key>
			<string>SuzhouInstitute</string>
		</dict>
		<dict>
			<key>description</key>
			<string>交通学院</string>
			<key>sectionName</key>
			<string>Transportation</string>
		</dict>
		<dict>
			<key>description</key>
			<string>吴健雄学院</string>
			<key>sectionName</key>
			<string>WuJianXiong</string>
		</dict>
		<dict>
			<key>description</key>
			<string>无锡分校</string>
			<key>sectionName</key>
			<string>WuxiCampus</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>description</key>
			<string>苹果乐园</string>
			<key>sectionName</key>
			<string>Apple</string>
		</dict>
		<dict>
			<key>description</key>
			<string>BBS开发和编程</string>
			<key>sectionName</key>
			<string>BBSDev</string>
		</dict>
		<dict>
			<key>description</key>
			<string>C/C++语言</string>
			<key>sectionName</key>
			<string>C_CPlusPlus</string>
		</dict>
		<dict>
			<key>description</key>
			<string>计算机维护</string>
			<key>sectionName</key>
			<string>ComputerRescue</string>
		</dict>
		<dict>
			<key>description</key>
			<string>数据库</string>
			<key>sectionName</key>
			<string>Database</string>
		</dict>
		<dict>
			<key>description</key>
			<string>2区区长工作室</string>
			<key>sectionName</key>
			<string>District2</string>
		</dict>
		<dict>
			<key>description</key>
			<string>自由与开源软件</string>
			<key>sectionName</key>
			<string>FOSS</string>
		</dict>
		<dict>
			<key>description</key>
			<string>硬件之家</string>
			<key>sectionName</key>
			<string>Hardware</string>
		</dict>
		<dict>
			<key>description</key>
			<string>路由,交换和互联协议</string>
			<key>sectionName</key>
			<string>Internetwork</string>
		</dict>
		<dict>
			<key>description</key>
			<string>IT特快</string>
			<key>sectionName</key>
			<string>ITExpress</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Java/Corba</string>
			<key>sectionName</key>
			<string>Java</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Linux操作系统</string>
			<key>sectionName</key>
			<string>Linux</string>
		</dict>
		<dict>
			<key>description</key>
			<string>软件百宝箱</string>
			<key>sectionName</key>
			<string>NewSoftware</string>
		</dict>
		<dict>
			<key>description</key>
			<string>TeX与LaTeX</string>
			<key>sectionName</key>
			<string>TeX</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Visual C++编程</string>
			<key>sectionName</key>
			<string>VC</string>
		</dict>
		<dict>
			<key>description</key>
			<string>病毒防治</string>
			<key>sectionName</key>
			<string>Virus</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Windows操作系统</string>
			<key>sectionName</key>
			<string>Windows</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>description</key>
			<string>学术动态</string>
			<key>sectionName</key>
			<string>AcademicInfo</string>
		</dict>
		<dict>
			<key>description</key>
			<string>天文地理</string>
			<key>sectionName</key>
			<string>AstroGeo</string>
		</dict>
		<dict>
			<key>description</key>
			<string>工商管理</string>
			<key>sectionName</key>
			<string>BusinessMgmt</string>
		</dict>
		<dict>
			<key>description</key>
			<string>电路系统</string>
			<key>sectionName</key>
			<string>Circuits</string>
		</dict>
		<dict>
			<key>description</key>
			<string>通信技术</string>
			<key>sectionName</key>
			<string>CommTech</string>
		</dict>
		<dict>
			<key>description</key>
			<string>3区区长工作室</string>
			<key>sectionName</key>
			<string>District3</string>
		</dict>
		<dict>
			<key>description</key>
			<string>嵌入式系统</string>
			<key>sectionName</key>
			<string>Embedded</string>
		</dict>
		<dict>
			<key>description</key>
			<string>英语学习</string>
			<key>sectionName</key>
			<string>English</string>
		</dict>
		<dict>
			<key>description</key>
			<string>力学</string>
			<key>sectionName</key>
			<string>EngMechanics</string>
		</dict>
		<dict>
			<key>description</key>
			<string>信息安全</string>
			<key>sectionName</key>
			<string>Infosec</string>
		</dict>
		<dict>
			<key>description</key>
			<string>语言文字</string>
			<key>sectionName</key>
			<string>Languages</string>
		</dict>
		<dict>
			<key>description</key>
			<string>人文科学</string>
			<key>sectionName</key>
			<string>LiterHuman</string>
		</dict>
		<dict>
			<key>description</key>
			<string>数学物理</string>
			<key>sectionName</key>
			<string>MathPhys</string>
		</dict>
		<dict>
			<key>description</key>
			<string>数学工具</string>
			<key>sectionName</key>
			<string>MathTools</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>description</key>
			<string>ASCII字符艺术</string>
			<key>sectionName</key>
			<string>Asciiarts</string>
		</dict>
		<dict>
			<key>description</key>
			<string>4区区长工作室</string>
			<key>sectionName</key>
			<string>District4</string>
		</dict>
		<dict>
			<key>description</key>
			<string>侠气漫天</string>
			<key>sectionName</key>
			<string>Emprises</string>
		</dict>
		<dict>
			<key>description</key>
			<string>名人堂</string>
			<key>sectionName</key>
			<string>FamousPeople</string>
		</dict>
		<dict>
			<key>description</key>
			<string>科学幻想</string>
			<key>sectionName</key>
			<string>Fictions</string>
		</dict>
		<dict>
			<key>description</key>
			<string>博览群书</string>
			<key>sectionName</key>
			<string>MasterPieces</string>
		</dict>
		<dict>
			<key>description</key>
			<string>网友原创</string>
			<key>sectionName</key>
			<string>original</string>
		</dict>
		<dict>
			<key>description</key>
			<string>摄影天地</string>
			<key>sectionName</key>
			<string>Photography</string>
		</dict>
		<dict>
			<key>description</key>
			<string>诗词歌赋</string>
			<key>sectionName</key>
			<string>poem</string>
		</dict>
		<dict>
			<key>description</key>
			<string>摇滚殿堂</string>
			<key>sectionName</key>
			<string>rock</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>description</key>
			<string>徽风皖韵</string>
			<key>sectionName</key>
			<string>Anhui</string>
		</dict>
		<dict>
			<key>description</key>
			<string>我爱北京天安门</string>
			<key>sectionName</key>
			<string>Beijing</string>
		</dict>
		<dict>
			<key>description</key>
			<string>龙城春秋</string>
			<key>sectionName</key>
			<string>ChangZhou</string>
		</dict>
		<dict>
			<key>description</key>
			<string>巴蜀大地</string>
			<key>sectionName</key>
			<string>ChuanYu</string>
		</dict>
		<dict>
			<key>description</key>
			<string>5区区长工作室</string>
			<key>sectionName</key>
			<string>District5</string>
		</dict>
		<dict>
			<key>description</key>
			<string>大连理工大学</string>
			<key>sectionName</key>
			<string>DUT</string>
		</dict>
		<dict>
			<key>description</key>
			<string>八闽情怀</string>
			<key>sectionName</key>
			<string>Fujian</string>
		</dict>
		<dict>
			<key>description</key>
			<string>陇原儿女</string>
			<key>sectionName</key>
			<string>GanSu</string>
		</dict>
		<dict>
			<key>description</key>
			<string>粤韵风华</string>
			<key>sectionName</key>
			<string>GuangDong</string>
		</dict>
		<dict>
			<key>description</key>
			<string>清秀八桂</string>
			<key>sectionName</key>
			<string>GuangXi</string>
		</dict>
		<dict>
			<key>description</key>
			<string>燕赵风情</string>
			<key>sectionName</key>
			<string>Hebei</string>
		</dict>
		<dict>
			<key>description</key>
			<string>中原大地</string>
			<key>sectionName</key>
			<string>HeNan</string>
		</dict>
		<dict>
			<key>description</key>
			<string>淮水安澜</string>
			<key>sectionName</key>
			<string>HuaiAn</string>
		</dict>
		<dict>
			<key>description</key>
			<string>荆楚大地</string>
			<key>sectionName</key>
			<string>Hubei</string>
		</dict>
		<dict>
			<key>description</key>
			<string>三湘四水</string>
			<key>sectionName</key>
			<string>HuNan</string>
		</dict>
		<dict>
			<key>description</key>
			<string>风吹草低见牛羊</string>
			<key>sectionName</key>
			<string>InnerMongolia</string>
		</dict>
		<dict>
			<key>description</key>
			<string>江南西道</string>
			<key>sectionName</key>
			<string>JiangXi</string>
		</dict>
		<dict>
			<key>description</key>
			<string>港城连云</string>
			<key>sectionName</key>
			<string>LianYunGang</string>
		</dict>
		<dict>
			<key>description</key>
			<string>金陵帝王洲</string>
			<key>sectionName</key>
			<string>Nanjing</string>
		</dict>
		<dict>
			<key>description</key>
			<string>江海明珠</string>
			<key>sectionName</key>
			<string>NanTong</string>
		</dict>
		<dict>
			<key>description</key>
			<string>雄鸡之冠</string>
			<key>sectionName</key>
			<string>NorthEast</string>
		</dict>
		<dict>
			<key>description</key>
			<string>渭水秦川</string>
			<key>sectionName</key>
			<string>Shaanxi</string>
		</dict>
		<dict>
			<key>description</key>
			<string>乡浓山东</string>
			<key>sectionName</key>
			<string>ShanDong</string>
		</dict>
		<dict>
			<key>description</key>
			<string>上海滩</string>
			<key>sectionName</key>
			<string>ShangHai</string>
		</dict>
		<dict>
			<key>description</key>
			<string>汾酒陈醋刀削面</string>
			<key>sectionName</key>
			<string>Shanxi</string>
		</dict>
		<dict>
			<key>description</key>
			<string>水韵姑苏</string>
			<key>sectionName</key>
			<string>Suzhou</string>
		</dict>
		<dict>
			<key>description</key>
			<string>江南大学</string>
			<key>sectionName</key>
			<string>SYU</string>
		</dict>
		<dict>
			<key>description</key>
			<string>三羊开泰</string>
			<key>sectionName</key>
			<string>TaiZhou</string>
		</dict>
		<dict>
			<key>description</key>
			<string>太湖明珠</string>
			<key>sectionName</key>
			<string>Wuxi</string>
		</dict>
		<dict>
			<key>description</key>
			<string>丝路明珠·新疆</string>
			<key>sectionName</key>
			<string>XinJiang</string>
		</dict>
		<dict>
			<key>description</key>
			<string>西安交大</string>
			<key>sectionName</key>
			<string>XJTU</string>
		</dict>
		<dict>
			<key>description</key>
			<string>辣汤辣汤，我是烙馍</string>
			<key>sectionName</key>
			<string>XuZhou</string>
		</dict>
		<dict>
			<key>description</key>
			<string>盐阜大地</string>
			<key>sectionName</key>
			<string>YanCheng</string>
		</dict>
		<dict>
			<key>description</key>
			<string>淮左名都</string>
			<key>sectionName</key>
			<string>Yangzhou</string>
		</dict>
		<dict>
			<key>description</key>
			<string>风云浙江</string>
			<key>sectionName</key>
			<string>ZheJiang</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>description</key>
			<string>星座</string>
			<key>sectionName</key>
			<string>Astrology</string>
		</dict>
		<dict>
			<key>description</key>
			<string>动漫长廊</string>
			<key>sectionName</key>
			<string>Cartoon</string>
		</dict>
		<dict>
			<key>description</key>
			<string>音乐经典</string>
			<key>sectionName</key>
			<string>ClassicalMusic</string>
		</dict>
		<dict>
			<key>description</key>
			<string>舞动风情</string>
			<key>sectionName</key>
			<string>Dance</string>
		</dict>
		<dict>
			<key>description</key>
			<string>美食天地</string>
			<key>sectionName</key>
			<string>delicious</string>
		</dict>
		<dict>
			<key>description</key>
			<string>数码时尚</string>
			<key>sectionName</key>
			<string>Digital</string>
		</dict>
		<dict>
			<key>description</key>
			<string>6区区长工作室</string>
			<key>sectionName</key>
			<string>District6</string>
		</dict>
		<dict>
			<key>description</key>
			<string>电子游戏</string>
			<key>sectionName</key>
			<string>EGames</string>
		</dict>
		<dict>
			<key>description</key>
			<string>花酒人间</string>
			<key>sectionName</key>
			<string>FlowerDrink</string>
		</dict>
		<dict>
			<key>description</key>
			<string>DIY达人</string>
			<key>sectionName</key>
			<string>handcraft</string>
		</dict>
		<dict>
			<key>description</key>
			<string>幽默人生</string>
			<key>sectionName</key>
			<string>humour</string>
		</dict>
		<dict>
			<key>description</key>
			<string>卡拉OK</string>
			<key>sectionName</key>
			<string>Karaoke</string>
		</dict>
		<dict>
			<key>description</key>
			<string>天黑请闭眼</string>
			<key>sectionName</key>
			<string>MafiaGame</string>
		</dict>
		<dict>
			<key>description</key>
			<string>动动大脑筋 </string>
			<key>sectionName</key>
			<string>MentalExercises</string>
		</dict>
		<dict>
			<key>description</key>
			<string>手机通信</string>
			<key>sectionName</key>
			<string>mobile</string>
		</dict>
		<dict>
			<key>description</key>
			<string>影视空间</string>
			<key>sectionName</key>
			<string>MoviesTV</string>
		</dict>
		<dict>
			<key>description</key>
			<string>泥巴风云</string>
			<key>sectionName</key>
			<string>Mud</string>
		</dict>
		<dict>
			<key>description</key>
			<string>网络对战</string>
			<key>sectionName</key>
			<string>NetBattle</string>
		</dict>
		<dict>
			<key>description</key>
			<string>网络游戏</string>
			<key>sectionName</key>
			<string>OnlineGames</string>
		</dict>
		<dict>
			<key>description</key>
			<string>宠物之家</string>
			<key>sectionName</key>
			<string>Pet</string>
		</dict>
		<dict>
			<key>description</key>
			<string>贴图板</string>
			<key>sectionName</key>
			<string>Pictures</string>
		</dict>
		<dict>
			<key>description</key>
			<string>流行音乐</string>
			<key>sectionName</key>
			<string>PopMusic</string>
		</dict>
		<dict>
			<key>description</key>
			<string>词曲撷萃</string>
			<key>sectionName</key>
			<string>Songbooks</string>
		</dict>
		<dict>
			<key>description</key>
			<string>故事接龙</string>
			<key>sectionName</key>
			<string>StorySeries</string>
		</dict>
		<dict>
			<key>description</key>
			<string>桌面游戏</string>
			<key>sectionName</key>
			<string>TableGames</string>
		</dict>
		<dict>
			<key>description</key>
			<string>徜徉山水</string>
			<key>sectionName</key>
			<string>Travel</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>description</key>
			<string>宝马奔驰</string>
			<key>sectionName</key>
			<string>Automobile</string>
		</dict>
		<dict>
			<key>description</key>
			<string>男生世界</string>
			<key>sectionName</key>
			<string>Boys</string>
		</dict>
		<dict>
			<key>description</key>
			<string>红茶馆</string>
			<key>sectionName</key>
			<string>chat</string>
		</dict>
		<dict>
			<key>description</key>
			<string>7区区长工作室</string>
			<key>sectionName</key>
			<string>District7</string>
		</dict>
		<dict>
			<key>description</key>
			<string>时尚生活</string>
			<key>sectionName</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>description</key>
			<string>欲将心事付网中</string>
			<key>sectionName</key>
			<string>feeling</string>
		</dict>
		<dict>
			<key>description</key>
			<string>友缘天地</string>
			<key>sectionName</key>
			<string>friends</string>
		</dict>
		<dict>
			<key>description</key>
			<string>午夜惊魂</string>
			<key>sectionName</key>
			<string>ghost</string>
		</dict>
		<dict>
			<key>description</key>
			<string>女孩心声</string>
			<key>sectionName</key>
			<string>Girls</string>
		</dict>
		<dict>
			<key>description</key>
			<string>健康与养生</string>
			<key>sectionName</key>
			<string>Health</string>
		</dict>
		<dict>
			<key>description</key>
			<string>游子乡愁</string>
			<key>sectionName</key>
			<string>Hometowns</string>
		</dict>
		<dict>
			<key>description</key>
			<string>ID的故事</string>
			<key>sectionName</key>
			<string>ID</string>
		</dict>
		<dict>
			<key>description</key>
			<string>毕业心情</string>
			<key>sectionName</key>
			<string>Leaving</string>
		</dict>
		<dict>
			<key>description</key>
			<string>情爱悠悠</string>
			<key>sectionName</key>
			<string>Love</string>
		</dict>
		<dict>
			<key>description</key>
			<string>往事如风</string>
			<key>sectionName</key>
			<string>Memory</string>
		</dict>
		<dict>
			<key>description</key>
			<string>曾经</string>
			<key>sectionName</key>
			<string>Once</string>
		</dict>
		<dict>
			<key>description</key>
			<string>缘分的天空</string>
			<key>sectionName</key>
			<string>PieBridge</string>
		</dict>
		<dict>
			<key>description</key>
			<string>心理健康</string>
			<key>sectionName</key>
			<string>Psychology</string>
		</dict>
		<dict>
			<key>description</key>
			<string>快乐的光光</string>
			<key>sectionName</key>
			<string>Single</string>
		</dict>
		<dict>
			<key>description</key>
			<string>工作与生活</string>
			<key>sectionName</key>
			<string>WorkLife</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>description</key>
			<string>飞跃重洋</string>
			<key>sectionName</key>
			<string>Abroad</string>
		</dict>
		<dict>
			<key>description</key>
			<string>校园讲座与活动</string>
			<key>sectionName</key>
			<string>AcademicEvents</string>
		</dict>
		<dict>
			<key>description</key>
			<string>商业代理</string>
			<key>sectionName</key>
			<string>Agent</string>
		</dict>
		<dict>
			<key>description</key>
			<string>探索之旅</string>
			<key>sectionName</key>
			<string>Discovery</string>
		</dict>
		<dict>
			<key>description</key>
			<string>8区区长工作室</string>
			<key>sectionName</key>
			<string>District8</string>
		</dict>
		<dict>
			<key>description</key>
			<string>党建之窗</string>
			<key>sectionName</key>
			<string>DJZC</string>
		</dict>
		<dict>
			<key>description</key>
			<string>经济天地</string>
			<key>sectionName</key>
			<string>economy</string>
		</dict>
		<dict>
			<key>description</key>
			<string>高考招生</string>
			<key>sectionName</key>
			<string>GoToUnivs</string>
		</dict>
		<dict>
			<key>description</key>
			<string>历史</string>
			<key>sectionName</key>
			<string>history</string>
		</dict>
		<dict>
			<key>description</key>
			<string>房产信息</string>
			<key>sectionName</key>
			<string>HouseInfo</string>
		</dict>
		<dict>
			<key>description</key>
			<string>实习</string>
			<key>sectionName</key>
			<string>Intern</string>
		</dict>
		<dict>
			<key>description</key>
			<string>招聘特快</string>
			<key>sectionName</key>
			<string>JobExpress</string>
		</dict>
		<dict>
			<key>description</key>
			<string>打工一族</string>
			<key>sectionName</key>
			<string>jobs</string>
		</dict>
		<dict>
			<key>description</key>
			<string>考研</string>
			<key>sectionName</key>
			<string>KaoYan</string>
		</dict>
		<dict>
			<key>description</key>
			<string>法网恢恢</string>
			<key>sectionName</key>
			<string>Law</string>
		</dict>
		<dict>
			<key>description</key>
			<string>失物招领</string>
			<key>sectionName</key>
			<string>LostAndFound</string>
		</dict>
		<dict>
			<key>description</key>
			<string>军事天地</string>
			<key>sectionName</key>
			<string>Military</string>
		</dict>
		<dict>
			<key>description</key>
			<string>网络资源</string>
			<key>sectionName</key>
			<string>NetResource</string>
		</dict>
		<dict>
			<key>description</key>
			<string>跳蚤市场</string>
			<key>sectionName</key>
			<string>SecondHand</string>
		</dict>
		<dict>
			<key>description</key>
			<string>交通信息</string>
			<key>sectionName</key>
			<string>Trafficinfo</string>
		</dict>
		<dict>
			<key>description</key>
			<string>统一战线</string>
			<key>sectionName</key>
			<string>UnitedChina</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>description</key>
			<string>轻羽飞扬</string>
			<key>sectionName</key>
			<string>Badminton</string>
		</dict>
		<dict>
			<key>description</key>
			<string>篮球</string>
			<key>sectionName</key>
			<string>basketball</string>
		</dict>
		<dict>
			<key>description</key>
			<string>台球天地</string>
			<key>sectionName</key>
			<string>Billiards</string>
		</dict>
		<dict>
			<key>description</key>
			<string>9区区长工作室</string>
			<key>sectionName</key>
			<string>District9</string>
		</dict>
		<dict>
			<key>description</key>
			<string>足球世界</string>
			<key>sectionName</key>
			<string>football</string>
		</dict>
		<dict>
			<key>description</key>
			<string>极速赛车</string>
			<key>sectionName</key>
			<string>FormulaOne</string>
		</dict>
		<dict>
			<key>description</key>
			<string>麻将</string>
			<key>sectionName</key>
			<string>MaJiang</string>
		</dict>
		<dict>
			<key>description</key>
			<string>我爱奥运</string>
			<key>sectionName</key>
			<string>Olympics</string>
		</dict>
		<dict>
			<key>description</key>
			<string>溜冰可乐</string>
			<key>sectionName</key>
			<string>Skating</string>
		</dict>
		<dict>
			<key>description</key>
			<string>体坛快讯</string>
			<key>sectionName</key>
			<string>Sports</string>
		</dict>
		<dict>
			<key>description</key>
			<string>乒乓来去</string>
			<key>sectionName</key>
			<string>TableTennis</string>
		</dict>
		<dict>
			<key>description</key>
			<string>隔网鏖战</string>
			<key>sectionName</key>
			<string>tennis</string>
		</dict>
		<dict>
			<key>description</key>
			<string>排球</string>
			<key>sectionName</key>
			<string>volleyball</string>
		</dict>
		<dict>
			<key>description</key>
			<string>精彩世界杯</string>
			<key>sectionName</key>
			<string>WorldCup</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>description</key>
			<string>学校管理信息</string>
			<key>sectionName</key>
			<string>Administration</string>
		</dict>
		<dict>
			<key>description</key>
			<string>一卡通管理中心</string>
			<key>sectionName</key>
			<string>AIOCardCenter</string>
		</dict>
		<dict>
			<key>description</key>
			<string>网络与信息中心</string>
			<key>sectionName</key>
			<string>CampusNetwork</string>
		</dict>
		<dict>
			<key>description</key>
			<string>电信网络</string>
			<key>sectionName</key>
			<string>ChinaTelecom</string>
		</dict>
		<dict>
			<key>description</key>
			<string>A区区长工作室</string>
			<key>sectionName</key>
			<string>DistrictA</string>
		</dict>
		<dict>
			<key>description</key>
			<string>我与校长面对面</string>
			<key>sectionName</key>
			<string>FaceToFace</string>
		</dict>
		<dict>
			<key>description</key>
			<string>研究生院</string>
			<key>sectionName</key>
			<string>GraduateSchool</string>
		</dict>
		<dict>
			<key>description</key>
			<string>文化素质教育中心</string>
			<key>sectionName</key>
			<string>LiberalCenter</string>
		</dict>
		<dict>
			<key>description</key>
			<string>教务处处长信箱</string>
			<key>sectionName</key>
			<string>M_Academic</string>
		</dict>
		<dict>
			<key>description</key>
			<string>发展委员会</string>
			<key>sectionName</key>
			<string>M_Development</string>
		</dict>
		<dict>
			<key>description</key>
			<string>财务处学生事务</string>
			<key>sectionName</key>
			<string>M_Finance</string>
		</dict>
		<dict>
			<key>description</key>
			<string>东南大学校医院</string>
			<key>sectionName</key>
			<string>M_Hospital</string>
		</dict>
		<dict>
			<key>description</key>
			<string>图书馆</string>
			<key>sectionName</key>
			<string>M_Library</string>
		</dict>
		<dict>
			<key>description</key>
			<string>总务处信箱</string>
			<key>sectionName</key>
			<string>M_Logistic</string>
		</dict>
		<dict>
			<key>description</key>
			<string>国际合作处</string>
			<key>sectionName</key>
			<string>M_OIC</string>
		</dict>
		<dict>
			<key>description</key>
			<string>保卫处处长信箱</string>
			<key>sectionName</key>
			<string>M_Security</string>
		</dict>
		<dict>
			<key>description</key>
			<string>学工部学生处信箱</string>
			<key>sectionName</key>
			<string>M_Student</string>
		</dict>
		<dict>
			<key>description</key>
			<string>团委书记信箱</string>
			<key>sectionName</key>
			<string>M_Youth</string>
		</dict>
		<dict>
			<key>description</key>
			<string>校务公告</string>
			<key>sectionName</key>
			<string>Notice</string>
		</dict>
		<dict>
			<key>description</key>
			<string>梅花餐饮</string>
			<key>sectionName</key>
			<string>PlumCatering</string>
		</dict>
		<dict>
			<key>description</key>
			<string>北方物业</string>
			<key>sectionName</key>
			<string>PropertyServ</string>
		</dict>
		<dict>
			<key>description</key>
			<string>学习实践科学发展观</string>
			<key>sectionName</key>
			<string>SciDevelopment</string>
		</dict>
		<dict>
			<key>description</key>
			<string>永和物业</string>
			<key>sectionName</key>
			<string>YHWY</string>
		</dict>
		<dict>
			<key>description</key>
			<string>中快餐饮</string>
			<key>sectionName</key>
			<string>ZKCatering</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>description</key>
			<string>棒垒球协会</string>
			<key>sectionName</key>
			<string>Baseball</string>
		</dict>
		<dict>
			<key>description</key>
			<string>博世俱乐部</string>
			<key>sectionName</key>
			<string>Bosch_Club</string>
		</dict>
		<dict>
			<key>description</key>
			<string>广播台</string>
			<key>sectionName</key>
			<string>BroadCast</string>
		</dict>
		<dict>
			<key>description</key>
			<string>学生团体联合会</string>
			<key>sectionName</key>
			<string>Communities</string>
		</dict>
		<dict>
			<key>description</key>
			<string>B区区长工作室</string>
			<key>sectionName</key>
			<string>DistrictB</string>
		</dict>
		<dict>
			<key>description</key>
			<string>博士生论坛</string>
			<key>sectionName</key>
			<string>DoctorForum</string>
		</dict>
		<dict>
			<key>description</key>
			<string>爱立信校园俱乐部</string>
			<key>sectionName</key>
			<string>Ericlub</string>
		</dict>
		<dict>
			<key>description</key>
			<string>电子竞技协会</string>
			<key>sectionName</key>
			<string>ESports</string>
		</dict>
		<dict>
			<key>description</key>
			<string>研究生会</string>
			<key>sectionName</key>
			<string>GraduateUnion</string>
		</dict>
		<dict>
			<key>description</key>
			<string>红楼缘社</string>
			<key>sectionName</key>
			<string>HongLouYuanShe</string>
		</dict>
		<dict>
			<key>description</key>
			<string>景瑞俱乐部</string>
			<key>sectionName</key>
			<string>JingruiClub</string>
		</dict>
		<dict>
			<key>description</key>
			<string>研究生学报</string>
			<key>sectionName</key>
			<string>Journal</string>
		</dict>
		<dict>
			<key>description</key>
			<string>研究生记者团</string>
			<key>sectionName</key>
			<string>Journalist</string>
		</dict>
		<dict>
			<key>description</key>
			<string>爱心社</string>
			<key>sectionName</key>
			<string>LoveAssociation</string>
		</dict>
		<dict>
			<key>description</key>
			<string>迈瑞创新俱乐部</string>
			<key>sectionName</key>
			<string>MIC</string>
		</dict>
		<dict>
			<key>description</key>
			<string>微软技术俱乐部</string>
			<key>sectionName</key>
			<string>MSTC</string>
		</dict>
		<dict>
			<key>description</key>
			<string>大学生新闻社</string>
			<key>sectionName</key>
			<string>NASEU</string>
		</dict>
		<dict>
			<key>description</key>
			<string>户外协会</string>
			<key>sectionName</key>
			<string>Outdoor</string>
		</dict>
		<dict>
			<key>description</key>
			<string>红十字会</string>
			<key>sectionName</key>
			<string>RedCross</string>
		</dict>
		<dict>
			<key>description</key>
			<string>虎踞龙蟠工作室</string>
			<key>sectionName</key>
			<string>SBBS_Studio</string>
		</dict>
		<dict>
			<key>description</key>
			<string>学生职业发展协会</string>
			<key>sectionName</key>
			<string>SCDA</string>
		</dict>
		<dict>
			<key>description</key>
			<string>土木科协</string>
			<key>sectionName</key>
			<string>SCSA</string>
		</dict>
		<dict>
			<key>description</key>
			<string>东南大学支教协会</string>
			<key>sectionName</key>
			<string>SEUES</string>
		</dict>
		<dict>
			<key>description</key>
			<string>东南大学教育基金会志愿者协会</string>
			<key>sectionName</key>
			<string>seuVolunteer</string>
		</dict>
		<dict>
			<key>description</key>
			<string>东南风文学社</string>
			<key>sectionName</key>
			<string>Sewind</string>
		</dict>
		<dict>
			<key>description</key>
			<string>玩转舞台工作室</string>
			<key>sectionName</key>
			<string>Stage_Studio</string>
		</dict>
		<dict>
			<key>description</key>
			<string>证券协会</string>
			<key>sectionName</key>
			<string>stock</string>
		</dict>
		<dict>
			<key>description</key>
			<string>学生会</string>
			<key>sectionName</key>
			<string>StudentUnion</string>
		</dict>
		<dict>
			<key>description</key>
			<string>中兴校园俱乐部</string>
			<key>sectionName</key>
			<string>ZTEcampus</string>
		</dict>
	</array>
</array>
</plist>
