<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Announce</key>
		<string>sectionName</string>
		<key>站务公告</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string>sectionName</string>
		<key>Blog天地</key>
		<string>description</string>
	</dict>
	<dict>
		<key>BMHOME</key>
		<string>sectionName</string>
		<key>斑竹天地</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Celebrate</key>
		<string>sectionName</string>
		<key>网友聚会</key>
		<string>description</string>
	</dict>
	<dict>
		<key>CNNews</key>
		<string>sectionName</string>
		<key>全国转信区</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Penalty</key>
		<string>sectionName</string>
		<key>处罚公告</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Progress</key>
		<string>sectionName</string>
		<key>历史发展</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Recruit</key>
		<string>sectionName</string>
		<key>管理人员招募</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Service</key>
		<string>sectionName</string>
		<key>网友服务</key>
		<string>description</string>
	</dict>
	<dict>
		<key>sysop</key>
		<string>sectionName</string>
		<key>站长的工作室</key>
		<string>description</string>
	</dict>
	<dict>
		<key>System</key>
		<string>sectionName</string>
		<key>系统发文</key>
		<string>description</string>
	</dict>
	<dict>
		<key>architecture</key>
		<string>sectionName</string>
		<key>建筑学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ArtsSchools</key>
		<string>sectionName</string>
		<key>艺术学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Automation</key>
		<string>sectionName</string>
		<key>自动化学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>BioMedEngineering</key>
		<string>sectionName</string>
		<key>生物科学与医学工程学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ChemicalEngineer</key>
		<string>sectionName</string>
		<key>化学化工学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>CivilEngineering</key>
		<string>sectionName</string>
		<key>土木工程学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Computer</key>
		<string>sectionName</string>
		<key>计算机科学与工程学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ContinuingEDU</key>
		<string>sectionName</string>
		<key>继续教育学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>CoSE</key>
		<string>sectionName</string>
		<key>软件学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>1区区长工作室</key>
		<string>description</string>
		<key>District1</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>DJQCampus</key>
		<string>sectionName</string>
		<key>丁家桥校区</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Economics</key>
		<string>sectionName</string>
		<key>经济管理学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Electrics</key>
		<string>sectionName</string>
		<key>电气工程学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Electronics</key>
		<string>sectionName</string>
		<key>电子科学与工程学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ForeignLanguages</key>
		<string>sectionName</string>
		<key>外国语学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Freshman</key>
		<string>sectionName</string>
		<key>新生绿色通道</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Humanity</key>
		<string>sectionName</string>
		<key>人文学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Instrumentation</key>
		<string>sectionName</string>
		<key>仪器科学与工程学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>JLHCampus</key>
		<string>sectionName</string>
		<key>九龙湖校区</key>
		<string>description</string>
	</dict>
	<dict>
		<key>LawSchool</key>
		<string>sectionName</string>
		<key>法学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Materials</key>
		<string>sectionName</string>
		<key>材料科学与工程学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Mathematics</key>
		<string>sectionName</string>
		<key>数学系</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Mechanics</key>
		<string>sectionName</string>
		<key>机械工程学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>MedicalSchool</key>
		<string>sectionName</string>
		<key>医学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Physics</key>
		<string>sectionName</string>
		<key>物理系</key>
		<string>description</string>
	</dict>
	<dict>
		<key>PowerEngineering</key>
		<string>sectionName</string>
		<key>能源与环境学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>PublicHealth</key>
		<string>sectionName</string>
		<key>公共卫生学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>PukouCampus</key>
		<string>sectionName</string>
		<key>浦口校区</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Radio</key>
		<string>sectionName</string>
		<key>信息科学与工程学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>RCLS</key>
		<string>sectionName</string>
		<key>学习科学研究中心</key>
		<string>description</string>
	</dict>
	<dict>
		<key>SEU110</key>
		<string>sectionName</string>
		<key>世纪东南</key>
		<string>description</string>
	</dict>
	<dict>
		<key>SEUExpress</key>
		<string>sectionName</string>
		<key>校园特快</key>
		<string>description</string>
	</dict>
	<dict>
		<key>SuzhouInstitute</key>
		<string>sectionName</string>
		<key>苏州研究院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Transportation</key>
		<string>sectionName</string>
		<key>交通学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>WuJianXiong</key>
		<string>sectionName</string>
		<key>吴健雄学院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>WuxiCampus</key>
		<string>sectionName</string>
		<key>无锡分校</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Apple</key>
		<string>sectionName</string>
		<key>苹果乐园</key>
		<string>description</string>
	</dict>
	<dict>
		<key>BBSDev</key>
		<string>sectionName</string>
		<key>BBS开发和编程</key>
		<string>description</string>
	</dict>
	<dict>
		<key>C/C++语言</key>
		<string>description</string>
		<key>C_CPlusPlus</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>ComputerRescue</key>
		<string>sectionName</string>
		<key>计算机维护</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Database</key>
		<string>sectionName</string>
		<key>数据库</key>
		<string>description</string>
	</dict>
	<dict>
		<key>2区区长工作室</key>
		<string>description</string>
		<key>District2</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>FOSS</key>
		<string>sectionName</string>
		<key>自由与开源软件</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Hardware</key>
		<string>sectionName</string>
		<key>硬件之家</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Internetwork</key>
		<string>sectionName</string>
		<key>路由,交换和互联协议</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ITExpress</key>
		<string>sectionName</string>
		<key>IT特快</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Java</key>
		<string>sectionName</string>
		<key>Java/Corba</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Linux</key>
		<string>sectionName</string>
		<key>Linux操作系统</key>
		<string>description</string>
	</dict>
	<dict>
		<key>NewSoftware</key>
		<string>sectionName</string>
		<key>软件百宝箱</key>
		<string>description</string>
	</dict>
	<dict>
		<key>TeX</key>
		<string>sectionName</string>
		<key>TeX与LaTeX</key>
		<string>description</string>
	</dict>
	<dict>
		<key>VC</key>
		<string>sectionName</string>
		<key>Visual C++编程</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Virus</key>
		<string>sectionName</string>
		<key>病毒防治</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Windows</key>
		<string>sectionName</string>
		<key>Windows操作系统</key>
		<string>description</string>
	</dict>
	<dict>
		<key>AcademicInfo</key>
		<string>sectionName</string>
		<key>学术动态</key>
		<string>description</string>
	</dict>
	<dict>
		<key>AstroGeo</key>
		<string>sectionName</string>
		<key>天文地理</key>
		<string>description</string>
	</dict>
	<dict>
		<key>BusinessMgmt</key>
		<string>sectionName</string>
		<key>工商管理</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Circuits</key>
		<string>sectionName</string>
		<key>电路系统</key>
		<string>description</string>
	</dict>
	<dict>
		<key>CommTech</key>
		<string>sectionName</string>
		<key>通信技术</key>
		<string>description</string>
	</dict>
	<dict>
		<key>3区区长工作室</key>
		<string>description</string>
		<key>District3</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>Embedded</key>
		<string>sectionName</string>
		<key>嵌入式系统</key>
		<string>description</string>
	</dict>
	<dict>
		<key>English</key>
		<string>sectionName</string>
		<key>英语学习</key>
		<string>description</string>
	</dict>
	<dict>
		<key>EngMechanics</key>
		<string>sectionName</string>
		<key>力学</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Infosec</key>
		<string>sectionName</string>
		<key>信息安全</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Languages</key>
		<string>sectionName</string>
		<key>语言文字</key>
		<string>description</string>
	</dict>
	<dict>
		<key>LiterHuman</key>
		<string>sectionName</string>
		<key>人文科学</key>
		<string>description</string>
	</dict>
	<dict>
		<key>MathPhys</key>
		<string>sectionName</string>
		<key>数学物理</key>
		<string>description</string>
	</dict>
	<dict>
		<key>MathTools</key>
		<string>sectionName</string>
		<key>数学工具</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ASCII字符艺术</key>
		<string>description</string>
		<key>Asciiarts</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>4区区长工作室</key>
		<string>description</string>
		<key>District4</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>Emprises</key>
		<string>sectionName</string>
		<key>侠气漫天</key>
		<string>description</string>
	</dict>
	<dict>
		<key>FamousPeople</key>
		<string>sectionName</string>
		<key>名人堂</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Fictions</key>
		<string>sectionName</string>
		<key>科学幻想</key>
		<string>description</string>
	</dict>
	<dict>
		<key>MasterPieces</key>
		<string>sectionName</string>
		<key>博览群书</key>
		<string>description</string>
	</dict>
	<dict>
		<key>original</key>
		<string>sectionName</string>
		<key>网友原创</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Photography</key>
		<string>sectionName</string>
		<key>摄影天地</key>
		<string>description</string>
	</dict>
	<dict>
		<key>poem</key>
		<string>sectionName</string>
		<key>诗词歌赋</key>
		<string>description</string>
	</dict>
	<dict>
		<key>rock</key>
		<string>sectionName</string>
		<key>摇滚殿堂</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Anhui</key>
		<string>sectionName</string>
		<key>徽风皖韵</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Beijing</key>
		<string>sectionName</string>
		<key>我爱北京天安门</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ChangZhou</key>
		<string>sectionName</string>
		<key>龙城春秋</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ChuanYu</key>
		<string>sectionName</string>
		<key>巴蜀大地</key>
		<string>description</string>
	</dict>
	<dict>
		<key>5区区长工作室</key>
		<string>description</string>
		<key>District5</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>DUT</key>
		<string>sectionName</string>
		<key>大连理工大学</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Fujian</key>
		<string>sectionName</string>
		<key>八闽情怀</key>
		<string>description</string>
	</dict>
	<dict>
		<key>GanSu</key>
		<string>sectionName</string>
		<key>陇原儿女</key>
		<string>description</string>
	</dict>
	<dict>
		<key>GuangDong</key>
		<string>sectionName</string>
		<key>粤韵风华</key>
		<string>description</string>
	</dict>
	<dict>
		<key>GuangXi</key>
		<string>sectionName</string>
		<key>清秀八桂</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Hebei</key>
		<string>sectionName</string>
		<key>燕赵风情</key>
		<string>description</string>
	</dict>
	<dict>
		<key>HeNan</key>
		<string>sectionName</string>
		<key>中原大地</key>
		<string>description</string>
	</dict>
	<dict>
		<key>HuaiAn</key>
		<string>sectionName</string>
		<key>淮水安澜</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Hubei</key>
		<string>sectionName</string>
		<key>荆楚大地</key>
		<string>description</string>
	</dict>
	<dict>
		<key>HuNan</key>
		<string>sectionName</string>
		<key>三湘四水</key>
		<string>description</string>
	</dict>
	<dict>
		<key>InnerMongolia</key>
		<string>sectionName</string>
		<key>风吹草低见牛羊</key>
		<string>description</string>
	</dict>
	<dict>
		<key>JiangXi</key>
		<string>sectionName</string>
		<key>江南西道</key>
		<string>description</string>
	</dict>
	<dict>
		<key>LianYunGang</key>
		<string>sectionName</string>
		<key>港城连云</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Nanjing</key>
		<string>sectionName</string>
		<key>金陵帝王洲</key>
		<string>description</string>
	</dict>
	<dict>
		<key>NanTong</key>
		<string>sectionName</string>
		<key>江海明珠</key>
		<string>description</string>
	</dict>
	<dict>
		<key>NorthEast</key>
		<string>sectionName</string>
		<key>雄鸡之冠</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Shaanxi</key>
		<string>sectionName</string>
		<key>渭水秦川</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ShanDong</key>
		<string>sectionName</string>
		<key>乡浓山东</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ShangHai</key>
		<string>sectionName</string>
		<key>上海滩</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Shanxi</key>
		<string>sectionName</string>
		<key>汾酒陈醋刀削面</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Suzhou</key>
		<string>sectionName</string>
		<key>水韵姑苏</key>
		<string>description</string>
	</dict>
	<dict>
		<key>SYU</key>
		<string>sectionName</string>
		<key>江南大学</key>
		<string>description</string>
	</dict>
	<dict>
		<key>TaiZhou</key>
		<string>sectionName</string>
		<key>三羊开泰</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Wuxi</key>
		<string>sectionName</string>
		<key>太湖明珠</key>
		<string>description</string>
	</dict>
	<dict>
		<key>XinJiang</key>
		<string>sectionName</string>
		<key>丝路明珠·新疆</key>
		<string>description</string>
	</dict>
	<dict>
		<key>XJTU</key>
		<string>sectionName</string>
		<key>西安交大</key>
		<string>description</string>
	</dict>
	<dict>
		<key>XuZhou</key>
		<string>sectionName</string>
		<key>辣汤辣汤，我是烙馍</key>
		<string>description</string>
	</dict>
	<dict>
		<key>YanCheng</key>
		<string>sectionName</string>
		<key>盐阜大地</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Yangzhou</key>
		<string>sectionName</string>
		<key>淮左名都</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ZheJiang</key>
		<string>sectionName</string>
		<key>风云浙江</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Astrology</key>
		<string>sectionName</string>
		<key>星座</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Cartoon</key>
		<string>sectionName</string>
		<key>动漫长廊</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ClassicalMusic</key>
		<string>sectionName</string>
		<key>音乐经典</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Dance</key>
		<string>sectionName</string>
		<key>舞动风情</key>
		<string>description</string>
	</dict>
	<dict>
		<key>delicious</key>
		<string>sectionName</string>
		<key>美食天地</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Digital</key>
		<string>sectionName</string>
		<key>数码时尚</key>
		<string>description</string>
	</dict>
	<dict>
		<key>6区区长工作室</key>
		<string>description</string>
		<key>District6</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>EGames</key>
		<string>sectionName</string>
		<key>电子游戏</key>
		<string>description</string>
	</dict>
	<dict>
		<key>FlowerDrink</key>
		<string>sectionName</string>
		<key>花酒人间</key>
		<string>description</string>
	</dict>
	<dict>
		<key>DIY达人</key>
		<string>description</string>
		<key>handcraft</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>humour</key>
		<string>sectionName</string>
		<key>幽默人生</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Karaoke</key>
		<string>sectionName</string>
		<key>卡拉OK</key>
		<string>description</string>
	</dict>
	<dict>
		<key>MafiaGame</key>
		<string>sectionName</string>
		<key>天黑请闭眼</key>
		<string>description</string>
	</dict>
	<dict>
		<key>MentalExercises</key>
		<string>sectionName</string>
		<key>动动大脑筋 </key>
		<string>description</string>
	</dict>
	<dict>
		<key>mobile</key>
		<string>sectionName</string>
		<key>手机通信</key>
		<string>description</string>
	</dict>
	<dict>
		<key>MoviesTV</key>
		<string>sectionName</string>
		<key>影视空间</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Mud</key>
		<string>sectionName</string>
		<key>泥巴风云</key>
		<string>description</string>
	</dict>
	<dict>
		<key>NetBattle</key>
		<string>sectionName</string>
		<key>网络对战</key>
		<string>description</string>
	</dict>
	<dict>
		<key>OnlineGames</key>
		<string>sectionName</string>
		<key>网络游戏</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Pet</key>
		<string>sectionName</string>
		<key>宠物之家</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Pictures</key>
		<string>sectionName</string>
		<key>贴图板</key>
		<string>description</string>
	</dict>
	<dict>
		<key>PopMusic</key>
		<string>sectionName</string>
		<key>流行音乐</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Songbooks</key>
		<string>sectionName</string>
		<key>词曲撷萃</key>
		<string>description</string>
	</dict>
	<dict>
		<key>StorySeries</key>
		<string>sectionName</string>
		<key>故事接龙</key>
		<string>description</string>
	</dict>
	<dict>
		<key>TableGames</key>
		<string>sectionName</string>
		<key>桌面游戏</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Travel</key>
		<string>sectionName</string>
		<key>徜徉山水</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Automobile</key>
		<string>sectionName</string>
		<key>宝马奔驰</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Boys</key>
		<string>sectionName</string>
		<key>男生世界</key>
		<string>description</string>
	</dict>
	<dict>
		<key>chat</key>
		<string>sectionName</string>
		<key>红茶馆</key>
		<string>description</string>
	</dict>
	<dict>
		<key>7区区长工作室</key>
		<string>description</string>
		<key>District7</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>Fashion</key>
		<string>sectionName</string>
		<key>时尚生活</key>
		<string>description</string>
	</dict>
	<dict>
		<key>feeling</key>
		<string>sectionName</string>
		<key>欲将心事付网中</key>
		<string>description</string>
	</dict>
	<dict>
		<key>friends</key>
		<string>sectionName</string>
		<key>友缘天地</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ghost</key>
		<string>sectionName</string>
		<key>午夜惊魂</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Girls</key>
		<string>sectionName</string>
		<key>女孩心声</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Health</key>
		<string>sectionName</string>
		<key>健康与养生</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Hometowns</key>
		<string>sectionName</string>
		<key>游子乡愁</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>sectionName</string>
		<key>ID的故事</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Leaving</key>
		<string>sectionName</string>
		<key>毕业心情</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Love</key>
		<string>sectionName</string>
		<key>情爱悠悠</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Memory</key>
		<string>sectionName</string>
		<key>往事如风</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Once</key>
		<string>sectionName</string>
		<key>曾经</key>
		<string>description</string>
	</dict>
	<dict>
		<key>PieBridge</key>
		<string>sectionName</string>
		<key>缘分的天空</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Psychology</key>
		<string>sectionName</string>
		<key>心理健康</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Single</key>
		<string>sectionName</string>
		<key>快乐的光光</key>
		<string>description</string>
	</dict>
	<dict>
		<key>WorkLife</key>
		<string>sectionName</string>
		<key>工作与生活</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Abroad</key>
		<string>sectionName</string>
		<key>飞跃重洋</key>
		<string>description</string>
	</dict>
	<dict>
		<key>AcademicEvents</key>
		<string>sectionName</string>
		<key>校园讲座与活动</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Agent</key>
		<string>sectionName</string>
		<key>商业代理</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Discovery</key>
		<string>sectionName</string>
		<key>探索之旅</key>
		<string>description</string>
	</dict>
	<dict>
		<key>8区区长工作室</key>
		<string>description</string>
		<key>District8</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>DJZC</key>
		<string>sectionName</string>
		<key>党建之窗</key>
		<string>description</string>
	</dict>
	<dict>
		<key>economy</key>
		<string>sectionName</string>
		<key>经济天地</key>
		<string>description</string>
	</dict>
	<dict>
		<key>GoToUnivs</key>
		<string>sectionName</string>
		<key>高考招生</key>
		<string>description</string>
	</dict>
	<dict>
		<key>history</key>
		<string>sectionName</string>
		<key>历史</key>
		<string>description</string>
	</dict>
	<dict>
		<key>HouseInfo</key>
		<string>sectionName</string>
		<key>房产信息</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Intern</key>
		<string>sectionName</string>
		<key>实习</key>
		<string>description</string>
	</dict>
	<dict>
		<key>JobExpress</key>
		<string>sectionName</string>
		<key>招聘特快</key>
		<string>description</string>
	</dict>
	<dict>
		<key>jobs</key>
		<string>sectionName</string>
		<key>打工一族</key>
		<string>description</string>
	</dict>
	<dict>
		<key>KaoYan</key>
		<string>sectionName</string>
		<key>考研</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Law</key>
		<string>sectionName</string>
		<key>法网恢恢</key>
		<string>description</string>
	</dict>
	<dict>
		<key>LostAndFound</key>
		<string>sectionName</string>
		<key>失物招领</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Military</key>
		<string>sectionName</string>
		<key>军事天地</key>
		<string>description</string>
	</dict>
	<dict>
		<key>NetResource</key>
		<string>sectionName</string>
		<key>网络资源</key>
		<string>description</string>
	</dict>
	<dict>
		<key>SecondHand</key>
		<string>sectionName</string>
		<key>跳蚤市场</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Trafficinfo</key>
		<string>sectionName</string>
		<key>交通信息</key>
		<string>description</string>
	</dict>
	<dict>
		<key>UnitedChina</key>
		<string>sectionName</string>
		<key>统一战线</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Badminton</key>
		<string>sectionName</string>
		<key>轻羽飞扬</key>
		<string>description</string>
	</dict>
	<dict>
		<key>basketball</key>
		<string>sectionName</string>
		<key>篮球</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Billiards</key>
		<string>sectionName</string>
		<key>台球天地</key>
		<string>description</string>
	</dict>
	<dict>
		<key>9区区长工作室</key>
		<string>description</string>
		<key>District9</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>football</key>
		<string>sectionName</string>
		<key>足球世界</key>
		<string>description</string>
	</dict>
	<dict>
		<key>FormulaOne</key>
		<string>sectionName</string>
		<key>极速赛车</key>
		<string>description</string>
	</dict>
	<dict>
		<key>MaJiang</key>
		<string>sectionName</string>
		<key>麻将</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Olympics</key>
		<string>sectionName</string>
		<key>我爱奥运</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Skating</key>
		<string>sectionName</string>
		<key>溜冰可乐</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Sports</key>
		<string>sectionName</string>
		<key>体坛快讯</key>
		<string>description</string>
	</dict>
	<dict>
		<key>TableTennis</key>
		<string>sectionName</string>
		<key>乒乓来去</key>
		<string>description</string>
	</dict>
	<dict>
		<key>tennis</key>
		<string>sectionName</string>
		<key>隔网鏖战</key>
		<string>description</string>
	</dict>
	<dict>
		<key>volleyball</key>
		<string>sectionName</string>
		<key>排球</key>
		<string>description</string>
	</dict>
	<dict>
		<key>WorldCup</key>
		<string>sectionName</string>
		<key>精彩世界杯</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Administration</key>
		<string>sectionName</string>
		<key>学校管理信息</key>
		<string>description</string>
	</dict>
	<dict>
		<key>AIOCardCenter</key>
		<string>sectionName</string>
		<key>一卡通管理中心</key>
		<string>description</string>
	</dict>
	<dict>
		<key>CampusNetwork</key>
		<string>sectionName</string>
		<key>网络与信息中心</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ChinaTelecom</key>
		<string>sectionName</string>
		<key>电信网络</key>
		<string>description</string>
	</dict>
	<dict>
		<key>A区区长工作室</key>
		<string>description</string>
		<key>DistrictA</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>FaceToFace</key>
		<string>sectionName</string>
		<key>我与校长面对面</key>
		<string>description</string>
	</dict>
	<dict>
		<key>GraduateSchool</key>
		<string>sectionName</string>
		<key>研究生院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>LiberalCenter</key>
		<string>sectionName</string>
		<key>文化素质教育中心</key>
		<string>description</string>
	</dict>
	<dict>
		<key>M_Academic</key>
		<string>sectionName</string>
		<key>教务处处长信箱</key>
		<string>description</string>
	</dict>
	<dict>
		<key>M_Development</key>
		<string>sectionName</string>
		<key>发展委员会</key>
		<string>description</string>
	</dict>
	<dict>
		<key>M_Finance</key>
		<string>sectionName</string>
		<key>财务处学生事务</key>
		<string>description</string>
	</dict>
	<dict>
		<key>M_Hospital</key>
		<string>sectionName</string>
		<key>东南大学校医院</key>
		<string>description</string>
	</dict>
	<dict>
		<key>M_Library</key>
		<string>sectionName</string>
		<key>图书馆</key>
		<string>description</string>
	</dict>
	<dict>
		<key>M_Logistic</key>
		<string>sectionName</string>
		<key>总务处信箱</key>
		<string>description</string>
	</dict>
	<dict>
		<key>M_OIC</key>
		<string>sectionName</string>
		<key>国际合作处</key>
		<string>description</string>
	</dict>
	<dict>
		<key>M_Security</key>
		<string>sectionName</string>
		<key>保卫处处长信箱</key>
		<string>description</string>
	</dict>
	<dict>
		<key>M_Student</key>
		<string>sectionName</string>
		<key>学工部学生处信箱</key>
		<string>description</string>
	</dict>
	<dict>
		<key>M_Youth</key>
		<string>sectionName</string>
		<key>团委书记信箱</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Notice</key>
		<string>sectionName</string>
		<key>校务公告</key>
		<string>description</string>
	</dict>
	<dict>
		<key>PlumCatering</key>
		<string>sectionName</string>
		<key>梅花餐饮</key>
		<string>description</string>
	</dict>
	<dict>
		<key>PropertyServ</key>
		<string>sectionName</string>
		<key>北方物业</key>
		<string>description</string>
	</dict>
	<dict>
		<key>SciDevelopment</key>
		<string>sectionName</string>
		<key>学习实践科学发展观</key>
		<string>description</string>
	</dict>
	<dict>
		<key>YHWY</key>
		<string>sectionName</string>
		<key>永和物业</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ZKCatering</key>
		<string>sectionName</string>
		<key>中快餐饮</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Baseball</key>
		<string>sectionName</string>
		<key>棒垒球协会</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Bosch_Club</key>
		<string>sectionName</string>
		<key>博世俱乐部</key>
		<string>description</string>
	</dict>
	<dict>
		<key>BroadCast</key>
		<string>sectionName</string>
		<key>广播台</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Communities</key>
		<string>sectionName</string>
		<key>学生团体联合会</key>
		<string>description</string>
	</dict>
	<dict>
		<key>B区区长工作室</key>
		<string>description</string>
		<key>DistrictB</key>
		<string>sectionName</string>
	</dict>
	<dict>
		<key>DoctorForum</key>
		<string>sectionName</string>
		<key>博士生论坛</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Ericlub</key>
		<string>sectionName</string>
		<key>爱立信校园俱乐部</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ESports</key>
		<string>sectionName</string>
		<key>电子竞技协会</key>
		<string>description</string>
	</dict>
	<dict>
		<key>GraduateUnion</key>
		<string>sectionName</string>
		<key>研究生会</key>
		<string>description</string>
	</dict>
	<dict>
		<key>HongLouYuanShe</key>
		<string>sectionName</string>
		<key>红楼缘社</key>
		<string>description</string>
	</dict>
	<dict>
		<key>JingruiClub</key>
		<string>sectionName</string>
		<key>景瑞俱乐部</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Journal</key>
		<string>sectionName</string>
		<key>研究生学报</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Journalist</key>
		<string>sectionName</string>
		<key>研究生记者团</key>
		<string>description</string>
	</dict>
	<dict>
		<key>LoveAssociation</key>
		<string>sectionName</string>
		<key>爱心社</key>
		<string>description</string>
	</dict>
	<dict>
		<key>MIC</key>
		<string>sectionName</string>
		<key>迈瑞创新俱乐部</key>
		<string>description</string>
	</dict>
	<dict>
		<key>MSTC</key>
		<string>sectionName</string>
		<key>微软技术俱乐部</key>
		<string>description</string>
	</dict>
	<dict>
		<key>NASEU</key>
		<string>sectionName</string>
		<key>大学生新闻社</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Outdoor</key>
		<string>sectionName</string>
		<key>户外协会</key>
		<string>description</string>
	</dict>
	<dict>
		<key>RedCross</key>
		<string>sectionName</string>
		<key>红十字会</key>
		<string>description</string>
	</dict>
	<dict>
		<key>SBBS_Studio</key>
		<string>sectionName</string>
		<key>虎踞龙蟠工作室</key>
		<string>description</string>
	</dict>
	<dict>
		<key>SCDA</key>
		<string>sectionName</string>
		<key>学生职业发展协会</key>
		<string>description</string>
	</dict>
	<dict>
		<key>SCSA</key>
		<string>sectionName</string>
		<key>土木科协</key>
		<string>description</string>
	</dict>
	<dict>
		<key>SEUES</key>
		<string>sectionName</string>
		<key>东南大学支教协会</key>
		<string>description</string>
	</dict>
	<dict>
		<key>seuVolunteer</key>
		<string>sectionName</string>
		<key>东南大学教育基金会志愿者协会</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Sewind</key>
		<string>sectionName</string>
		<key>东南风文学社</key>
		<string>description</string>
	</dict>
	<dict>
		<key>Stage_Studio</key>
		<string>sectionName</string>
		<key>玩转舞台工作室</key>
		<string>description</string>
	</dict>
	<dict>
		<key>stock</key>
		<string>sectionName</string>
		<key>证券协会</key>
		<string>description</string>
	</dict>
	<dict>
		<key>StudentUnion</key>
		<string>sectionName</string>
		<key>学生会</key>
		<string>description</string>
	</dict>
	<dict>
		<key>ZTEcampus</key>
		<string>sectionName</string>
		<key>中兴校园俱乐部</key>
		<string>description</string>
	</dict>
</array>
</plist>
